@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --site-pattern: url('./lib/assets/images/nat-pants.png');
  --site-pattern-soft: url('./lib/assets/images/nat-pants-ng.png');
}

html {
  background: #f4f7f5;
  font-family: theme('fontFamily.sans');
}

body {
  margin: 0;
  min-width: 0;
  font-size: 1em;
}

.site-pattern {
  background-image: var(--site-pattern);
  background-position: center;
}

.site-pattern-soft {
  background-image: var(--site-pattern-soft);
  background-position: center;
}
